<div class="row">
    <div class="col-12 px-0 align-self-center">
        <div class="row h-100 mx-0 align-items-center">
            <div class="col-lg-5 h-100 position-relative">
          
                
           
                <img src="assets/images/landing.png" alt="" class="img-fluid">
             
            </div>
            <div class="col-10 col-md-8 col-lg-4  col-ld-6 mx-auto">
                <h1 class="mb-4"><span
                        class="text-secondary fw-light">Manage<br />Money</span><br />Fast &
                    Easy!</h1>
                <p class="text-secondary">{{'landing.text' | translate | async}}</p>
               
            </div>
        </div>
    </div>
<div class="col-11 col-sm-11 mt-auto mx-auto py-4">
    <div class="row ">
        <div class="col-6 text-end d-grid">
            <a [href]="getFullUrl('signup')" class="btn btn-light btn-lg shadow-sm">{{'auth.signup' | translate | async}}</a>
        </div>
        <div class="col-6 d-grid">
            <a [href]="getFullUrl('login')" class="btn btn-primary btn-lg shadow-sm">{{'auth.login' | translate | async}}</a>
        </div>
    </div>
</div>

</div>





