<div class="card theme-bg shadow-sm shadow-purple mb-3 " ngClass="{{account.color}}">
   
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <img src="" alt="">
            </div>
            <div class="col align-self-center text-end">
                <p class="small">
                 
                    <span class="">Credit Card</span>
                </p>
            </div>
        </div>
        <h5 class="fw-normal mb-3">
           {{account.number }}
        </h5>
        <div class="row">
            <div class="col-auto">
                <small class="mb-0 text-light size-10">Total</small>
                <p>{{account.balance | currency }}</p>
            </div>
            <div class="col text-end">
                <small class="mb-0 text-light size-10">Card Name</small>
                <p>{{account.name}}</p>
            </div>
        </div>
    </div>
</div>